[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/imgui"]
	url = https://github.com/siofra-mc/imgui
	path = lib/imgui
	branch = docking
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/siofra-mc/glfw
